
:root {
    --main-bg-color : #212121;
    --border-color: #424242;
    --accent-color : #1b806d;
    --active-button-color: #1b806d;
    --inactive-button-color: #9E9E9E;
}
* {
    background-color: var(--main-bg-color) !important;
    color: white !important;
}

.appTabs td.active {
    border-bottom: 3px solid var(--accent-color) !important;
}

body {
    border-color: var(--border-color) !important;
}
.contentPane .shadow {
    border-color: var(--main-bg-color)!important;
}
span {
    color: var(--accent-color) !important
}
.contentBox * {
    background-color: transparent !important;
    border-color: var(--border-color) !important;
    color: white !important
}
.contentBox a{
    color: var(--accent-color) !important
}
.contentBox svg{
    fill:  white !important;
}
div[id*="stepcontent"] {
    padding: 0 0 0 24px;
    border-top: 0;
    background-color: var(--main-bg-color) !important;
    border-bottom: 1px solid #cdcdcd;
    padding: 0 20px 20px 0
}
.contentBox button.active {
    background-color: var(--active-button-color) !important;
    color: white;
}

.contentBox button {
    background-color: var(--inactive-button-color) !important;
    color: white;
}
.column-3 {
    display: none;
}


.field{
    background-color: var(--main-bg-color) !important;
}
#stepcontent1  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent2  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent3  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent4  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent5  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent6  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent7  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent8  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent9  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent10  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent11  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent12  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent13  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent14  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent15  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent16  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent17  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent18  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent19  {
    background-color: var(--main-bg-color) !important;
}
#stepcontent20  {
    background-color: var(--main-bg-color) !important;
}
.submitStepBottom{
    background-color: var(--main-bg-color) !important;
} 
.submitStepFixed{
    background-color: var(--main-bg-color) !important;
}

